%%-*- mode: erlang -*-
{deps, [
  {webmachine, "1.8.*",
    {git, "git://github.com/basho/webmachine", "HEAD"}},
  {ibrowse, ".*",
    {git, "git://github.com/cmullaparthi/ibrowse.git", "master"}},
  {bcrypt, ".*",
    {git, "https://github.com/smarkets/erlang-bcrypt.git", {tag, "0.4.1"}}}
]}.
{erl_opts, [debug_info]}.
{cover_enabled, true}.
